/* There i'm defining styling of Ion components */
ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

/* @media screen and (max-width: 380px) {
  ion-item {
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
  }
} */

/* ion-button {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast);
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* dark mode variables go here */
  }
}
